@mixin base-button {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border-radius: 4px;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  outline-color: transparent;
  transition-property: background-color, box-shadow, transform, outline-color, border-color;

  &:hover {
    box-shadow: var(--base-shadow-0);
  }

  &:active {
    transform: scale(0.95);
    box-shadow: var(--base-shadow-1)
  }

  &:disabled {
    cursor: not-allowed;
  }

  &:disabled:hover,
  &:disabled:active {
    box-shadow: none;
    transform: none;
  }

  &.icon {
    display: flex;
    align-items: center;
  }

  &.icon .base-icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }

  &.only-icon {
    display: flex;
    padding: 8px;
  }

  &.only-icon .base-icon {
    width: 24px;
    height: 24px;
  }
}

.base-primary-button {
  @include base-button;
  color: var(--base-text-1);
  background-color: var(--base-primary-btn);

  &:hover {
    background-color: var(--base-primary-btn-hover);
  }

  &:disabled {
    color: var(--base-btn-solid-disabled-text);
    background-color: var(--base-btn-solid-disabled);
  }

  &:focus-visible {
    background-color: var(--base-primary-btn-focus);
    outline: 2px solid var(--base-primary-btn-focus);
    outline-offset: 2px;
  }

  &:focus-visible:hover {
    box-shadow: none;
    outline-color: var(--base-primary-btn-hover);
    background-color: var(--base-primary-btn-hover);
  }

  &:focus-visible:active {
    box-shadow: none;
  }
}

.base-secondary-button {
  @include base-button;
  color: var(--base-text-2);
  background-color: var(--base-secondary-btn);

  &:hover {
    background-color: var(--base-secondary-btn-hover);
  }

  &:disabled {
    color: var(--base-btn-solid-disabled-text);
    background-color: var(--base-btn-solid-disabled);
  }

  &:focus-visible {
    outline: 2px solid var(--base-secondary-btn);
    outline-offset: 2px;
  }

  &:focus-visible:hover {
    box-shadow: none;
    outline-color: var(--base-secondary-btn-hover);
  }

  &:focus-visible:active {
    box-shadow: none;
  }
}

.base-primary-outlined-button {
  @include base-button;
  padding: 6px 10px;
  color: var(--base-primary-outline-btn-text);
  background-color: transparent;
  border: 2px solid var(--base-primary-btn);

  &:hover {
    color: var(--base-text-1);
    border-color: var(--base-primary-btn-hover);
    background-color: var(--base-primary-btn-hover);
  }

  &:disabled {
    border-color: var(--base-bg-4);
    color: var(--base-bg-4);
  }

  &:disabled:hover,
  &:disabled:active {
    background-color: transparent;
  }

  &:focus-visible {
    color: var(--base-text-1);
    border-color: var(--base-primary-outline-btn-text);
    background-color: var(--base-primary-outline-btn-text);
    outline: 2px solid var(--base-primary-outline-btn-text);
    outline-offset: 2px;
  }

  &:focus-visible:hover {
    box-shadow: none;
    outline-color: var(--base-primary-btn-hover);
    border-color: var(--base-primary-btn-hover);
    background-color: var(--base-primary-btn-hover);
  }

  &:focus-visible:active {
    box-shadow: none;
  }

  &.only-icon {
    padding: 6px;
  }
}

.base-secondary-outlined-button {
  @include base-button;
  padding: 6px 10px;
  color: var(--base-secondary-btn);
  background-color: transparent;
  border: 2px solid var(--base-secondary-btn);

  &:hover {
    color: var(--base-text-2);
    border-color: var(--base-secondary-btn);
    background-color: var(--base-secondary-btn);
  }

  &:disabled {
    border-color: var(--base-bg-4);
    color: var(--base-bg-4);
  }

  &:disabled:hover,
  &:disabled:active {
    background-color: transparent;
  }

  &:focus-visible {
    color: var(--base-text-2);
    border-color: var(--base-secondary-btn);
    background-color: var(--base-secondary-btn);
    outline: 2px solid var(--base-secondary-btn);
    outline-offset: 2px;
  }

  &:focus-visible:hover {
    box-shadow: none;
  }

  &:focus-visible:active {
    box-shadow: none;
  }

  &.only-icon {
    padding: 6px;
  }
}

.base-link {
  color: var(--base-text-3);
  padding: 0 4px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-decoration: none;
  transition: all 200ms ease-in-out;
  outline-color: transparent;
  transition-property: color, outline-color;

  &:hover {
    color: var(--base-link-hover);
  }

  &:active {
    color: var(--base-link-active);
    text-decoration-line: underline;
    text-underline-offset: 2px;
  }

  &:focus-visible {
    color: var(--base-link-focus);
    border-radius: 4px;
    outline: 2px solid var(--base-link-focus);
    outline-offset: 2px;
  }

  &.icon {
    display: flex;
    align-items: center;
  }

  &.icon .base-icon {
    margin-right: 8px;
    width: 24px;
    height: 24px;
  }
}