@mixin base-button {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border-radius: 4px;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  transition:  all 200ms ease-in-out;
  transition-property: background-color, box-shadow, transform, outline-color;

  &:disabled {
    cursor: not-allowed;
  }
}

.primary-button {
  @include base-button;
  color: var(--primary-button-text-color);
  background-color: var(--primary-button-color);
  outline-color: var(--primary-button-color);

  &:hover {
    background-color: var(--primary-button-hover-color);
    box-shadow: 4px 4px 0 0 var(--shadow-1);
  }

  &:active {
    transform: scale(0.95);
    box-shadow: 3px 3px 0 0 var(--shadow-1);
  }

  &:focus-visible {
    outline: 2px solid var(--primary-button-color);
    outline-offset: 2px;
  }

  &:focus-visible:hover {
    box-shadow: none;
    outline-color: var(--primary-button-hover-color);
  }

  &:focus-visible:active {
    box-shadow: none;
  }

  &:disabled {
    color: var(--primary-button-disabled-text-color);
    background-color: var(--primary-button-disabled-color);
  }

  &:disabled:hover,
  &:disabled:active {
    box-shadow: none;
    transform: none;
  }

}

.secondary-button {
  @include base-button;
  color: var(--secondary-button-text-color);
  background-color: var(--secondary-button-color);
}

.primary-outlined-button {
  @include base-button;

}

.secondary-outlined-button {
  @include base-button;

}
