@import "./normalize";
@import "./fonts";
@import "./variables";
@import "./buttons";

*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}

html {
  font-family: Manrope;
  font-weight: 400;
  font-size: 16px;
  color: var(--base-text);
  background: var(--base-page-bg);
  box-sizing: border-box;
  line-height: 1.4;
}

h1,
h2,
h3 {
  margin: 0;
}

.headline-1 {
  font-weight: 700;
  font-size: 3rem;
}

.headline-2 {
  font-weight: 700;
  font-size: 2.5rem;
}

.headline-3 {
  font-weight: 700;
  font-size: 2rem;
}

.subtitle-1 {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.25rem;
}

.subtitle-2 {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.875rem;
}

.small-text {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.125rem;
}

.base-text {
  color: var(--base-text-9);
  line-height: 1.5rem;
}

hr,
.base-divider {
  width: 100%;
  height: 2px;
  margin: 0;
  border: none;
  background-color: var(--base-bg-7);
}

.w-100 {
  width: 100%;
}

.base-loader {
  // best timing
  animation: square-rotate 3000ms infinite;
}

.base-scroll {
  &::-webkit-scrollbar {
    width: 24px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 50px;
    //background-color: var(--base-bg-12);
  }

  &::-webkit-scrollbar-thumb{
    border-radius: 50px;
    border: 8px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    background-color: var(--base-bg-11);
  }

}

#notifications-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 1000;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  @media screen and (min-width: 769px) {
    width: auto;
  }
}

// animations
@keyframes square-rotate {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  25% {
    transform: rotateX(180deg) rotateY(0deg);
  }
  50% {
    transform: rotateX(180deg) rotateY(180deg);
  }
  75% {
    transform: rotateX(0deg) rotateY(180deg);
  }
  100% {
    transform: rotateX(0deg) rotateY(0deg);
  }
}

.grecaptcha-badge { visibility: hidden; }
