:root {
  //Base colors
  --color-blue-dark: rgba(0, 15, 31, 1);
  --color-blue-dark-medium: rgba(23, 55, 71, 1);
  --color-blue-medium: rgba(83, 115, 131, 1);
  --color-blue-light: rgba(163, 195, 211, 1);
  --color-yellow-dark: rgba(193, 137, 15, 1);
  --color-yellow-dark-medium: rgba(243, 187, 65, 1);
  --color-yellow-medium: rgba(255, 227, 105, 1);
  --color-yellow-light: rgba(255, 255, 195, 1);
  --color-error-dark: rgba(194, 32, 0, 1);
  --color-error-medium: rgba(255, 77, 41, 1);
  --color-error-light: rgba(255, 204, 194, 1);
  --color-success-light: rgba(194, 255, 204, 1);
  --color-white: rgba(255, 255, 255, 1);
  --color-white-opacity-15: rgba(255, 255, 255, .15);
  --color-white-opacity-25: rgba(255, 255, 255, .25);
  --color-black: rgba(0, 0, 0, 1);
  --color-black-opacity-15: rgba(0, 0, 0, .15);
  --color-black-opacity-25: rgba(0, 0, 0, .25);

  // Text
  --base-text: var(--color-blue-dark-medium);
  --base-text-0: var(--color-blue-dark-medium);
  --base-text-1: var(--color-yellow-dark-medium);
  --base-text-2: var(--color-yellow-light);
  --base-text-3: var(--color-yellow-dark);
  --base-text-4: var(--color-blue-medium);
  --base-text-5: var(--color-blue-dark);
  --base-text-6: var(--color-blue-light);
  --base-text-7: var(--color-yellow-dark);
  --base-text-8: var(--color-error-dark);
  --base-text-9: var(--color-blue-dark-medium);
  --base-text-10: var(--color-blue-dark);
  --base-text-11: var(--color-blue-light);
  --base-text-12: var(--color-blue-dark-medium);
  --base-text-13: var(--color-blue-medium);
  --base-text-14: var(--color-blue-medium);
  --base-text-15: var(--color-blue-dark);

  // Backgrounds
  --base-page-bg: var(--color-white);
  --base-bg-0: var(--color-blue-dark-medium);
  // TODO delete, repeated with --base-page-bg ↓
  --base-bg-1: var(--color-white);
  --base-bg-2: var(--color-blue-dark-medium);
  --base-bg-3: var(--color-yellow-dark);
  --base-bg-4: var(--color-blue-light);
  --base-bg-5: var(--color-blue-dark);
  --base-bg-6: var(--color-error-dark);
  --base-bg-7: var(--color-blue-dark-medium);
  --base-bg-8: var(--color-blue-medium);
  --base-bg-9: var(--color-blue-medium);
  --base-bg-10: var(--color-yellow-medium);
  --base-bg-11: var(--color-blue-light);
  --base-bg-12: var(--color-yellow-light);

  // Shadows
  --base-shadow-0: 4px 4px 0 0 var(--color-black-opacity-25);
  --base-shadow-1: 3px 3px 0 0 var(--color-black-opacity-25);
  --base-shadow-2: 0px 2px 4px var(--color-black-opacity-15);


  // Buttons
  --base-link-hover: var(--color-blue-dark-medium);
  --base-link-active: var(--color-blue-dark);
  --base-link-focus: var(--color-blue-dark);
}

:root[dark] {
  // Text
  --base-text: var(--color-yellow-light);
  --base-text-0: var(--color-yellow-medium);
  --base-text-1: var(--color-blue-dark);
  --base-text-2: var(--color-blue-dark);
  --base-text-3: var(--color-yellow-medium);
  --base-text-4: var(--color-blue-light);
  --base-text-5: var(--color-yellow-light);
  --base-text-6: var(--color-blue-medium);
  --base-text-7: var(--color-blue-light);
  --base-text-8: var(--color-error-medium);
  --base-text-9: var(--color-white);
  --base-text-10: var(--color-yellow-medium);
  --base-text-11: var(--color-blue-light);
  --base-text-12: var(--color-yellow-dark-medium);
  --base-text-13: var(--color-yellow-medium);
  --base-text-14: var(--color-yellow-light);
  --base-text-15: var(--color-blue-light);

  // Backgrounds
  --base-page-bg: var(--color-blue-dark);
  --base-bg-0: var(--color-yellow-medium);
  --base-bg-1: var(--color-blue-dark);
  --base-bg-2: var(--color-yellow-light);
  --base-bg-3: var(--color-yellow-medium);
  --base-bg-4: var(--color-blue-medium);
  --base-bg-5: var(--color-yellow-medium);
  --base-bg-6: var(--color-error-medium);
  --base-bg-7: var(--color-blue-light);
  --base-bg-8: var(--color-blue-light);
  --base-bg-9: var(--color-blue-medium);
  --base-bg-10: var(--color-yellow-light);
  --base-bg-11: var(--color-yellow-light);
  --base-bg-12: var(--color-blue-light);

  // Shadows
  --base-shadow-0: 4px 4px 0 0 var(--color-white-opacity-25);
  --base-shadow-1: 3px 3px 0 0 var(--color-white-opacity-25);
  --base-shadow-2: 0px 2px 4px var(--color-white-opacity-15);
}
